/* селекторы тегов */
body{
	background-color: black;
	background-image: url(../img/Penguins.jpg);
	color: white;
	font-family: Calibry;
}
a{
	color: yellow;
}
/* id селекторы */
#menu-active {
	font-size: 18px;
	font-weight: bold;
}
li{
	font-style: italic;
}
/* селекторы классов */
.new{
	color: red;
}
.sale{
	margin-left: 20px;
}

img{
	border-radius: 20px;
	/* border-width: 5px;
	border-color: white;
	border-style: solid;
*/
	border: 5px white solid;
}