/* селекторы тегов */
body{
	background: black;
	color: white;
	font-family: Calibry;
}
a{
	color: yellow;
}
/* id селекторы */
#menu-active {
	font-size: 18px;
	font-weight: bold;
}
li{
	font-style: italic;
}
/* селекторы классов */
.new{
	color: red;
}
.sale{
	margin-left: 20px;
}

img{
	border-radius: 20px;
}